<div class="modal-header">
  <h4 class="modal-title">Add Horse</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('CROSS_CLICK')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="horseForm">
    <div class="form-group">
      <label for="horse_name">Horse Name</label>
      <input type="text" class="form-control" id="horse_name" formControlName="horse_name"
        [ngClass]="{ 'is-invalid': isSubmitted && horseFormControls.horse_name.errors }">
      <div *ngIf="isSubmitted && horseFormControls.horse_name.errors" class="invalid-feedback">
        <span *ngIf="horseFormControls.horse_name.errors.required">Horse name is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Horse Number</label>
      <input type="text" class="form-control" id="horse_number" formControlName="horse_number"
        [ngClass]="{ 'is-invalid': isSubmitted && horseFormControls.horse_number.errors }">
      <div *ngIf="isSubmitted && horseFormControls.horse_number.errors" class="invalid-feedback">
        <span *ngIf="horseFormControls.horse_number.errors.required">Horse number is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">AQHA Number</label>
      <input type="text" class="form-control" id="aqha_number" formControlName="aqha_number"
        [ngClass]="{ 'is-invalid': isSubmitted && horseFormControls.aqha_number.errors }">
      <div *ngIf="isSubmitted && horseFormControls.aqha_number.errors" class="invalid-feedback">
        <span *ngIf="horseFormControls.aqha_number.errors.required">AQHA number is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="color">Color</label>
      <input type="text" class="form-control" id="color" formControlName="color"
        [ngClass]="{ 'is-invalid': isSubmitted && horseFormControls.color.errors }">
      <div *ngIf="isSubmitted && horseFormControls.color.errors" class="invalid-feedback">
        <span *ngIf="horseFormControls.color.errors.required">AQHA number is required</span>
      </div>
    </div>
    <p class="text-right">
      <button type="button" class="btn btn-primary" (click)="saveHorse()" *ngIf="!id">Save</button>
      <button type="button" class="btn btn-primary" (click)="updateHorse()" *ngIf="id">Update</button>
    </p>
  </form>
</div>